In [2]:
import h5py
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
path = 'data/kaari2132023.csv'

df = pd.read_csv(path, inde)
df

,Unnamed: 0,datetime,gps_site,sat_id,gdlatr,gdlonr,los_tec,tec,azm,elm,gdlat,glon,gnss_type,slant_f,vtec,id,kaari
0,0,2023-03-21 00:00:00,b'0ams',1,64.532524,19.349890,7.319108,6.757187,-93.695259,66.141273,64.409019,16.322577,b'GLONASS ',1.068718,6.848495,GLONASS 0ams1,0
1,1,2023-03-21 00:00:30,b'0ams',1,64.532524,19.349890,7.559455,7.005074,-93.473663,66.691986,64.417694,16.399038,b'GLONASS ',1.064910,7.098679,GLONASS 0ams1,0
2,2,2023-03-21 00:01:30,b'0ams',1,64.532524,19.349890,7.706900,7.154760,-93.358940,66.967659,64.422279,16.442909,b'GLONASS ',1.063058,7.249745,GLONASS 0ams1,0
3,3,2023-03-21 00:02:00,b'0ams',1,64.532524,19.349890,7.740303,7.198741,-93.241463,67.243530,64.426292,16.475420,b'GLONASS ',1.061240,7.293639,GLONASS 0ams1,0
4,4,2023-03-21 00:02:30,b'0ams',1,64.532524,19.349890,7.669321,7.158023,-92.997871,67.795799,64.434814,16.551697,b'GLONASS ',1.057707,7.250894,GLONASS 0ams1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8085267,8085267,2023-03-21 23:57:00,b'ylit',9,66.306602,23.667742,9.515786,7.572054,-132.467819,50.392902,64.604004,19.501953,b'GPS ',1.250118,7.611908,GPS ylit9,2
8085268,8085268,2023-03-21 23:57:30,b'ylit',9,66.306602,23.667742,9.618620,7.675449,-132.512192,50.624043,64.611526,19.524801,b'GPS ',1.246285,7.717836,GPS ylit9,2
8085269,8085269,2023-03-21 23:58:00,b'ylit',9,66.306602,23.667742,9.746588,7.821429,-132.609863,51.090988,64.638084,19.597088,b'GPS ',1.238659,7.868658,GPS ylit9,2
8085270,8085270,2023-03-21 23:59:00,b'ylit',9,66.306602,23.667742,9.640309,7.757446,-132.659317,51.321877,64.656937,19.645588,b'GPS ',1.234948,7.806247,GPS ylit9,2
8085271,8085271,2023-03-21 23:59:30,b'ylit',9,66.306602,23.667742,9.689038,7.817965,-132.710526,51.552666,64.664284,19.668736,b'GPS ',1.231277,7.869098,GPS ylit9,2

In [ ]:
pivot = df.pivot(index='gdlat', columns='datetime', values='detrended_tec')
sns.heatmap(pivot, cmap='viridis', vmin=-4, vmax=4)

plt.gca().invert_yaxis()
plt.xlabel('Datetime')
plt.ylabel('Latitude')
plt.title(f'TEC Heatmap for longitude {LONG}')

plt.show()

In [ ]:
def create_fig(datetime, df):
    plt.figure(figsize=(8, 6))
    dff = df.loc[df['datetime'] == datetime]
    pivot = dff.pivot('gdlat', 'glon', 'detrended_tec')

    sns.heatmap(pivot, cmap='viridis',vmin=-4, vmax=4)
    #plt.axvline(x=20.53, color='black', lw=3)
    plt.gca().invert_yaxis()

    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    plt.title(f'Baseline removed TEC Heatmap at {datetime}')
    plt.tight_layout()

    buf = io.BytesIO()
    plt.savefig(buf, format='png')
    buf.seek(0)
    plt.close()

    heatmap_array = np.array(Image.open(buf))
    return heatmap_array

def update(frame):
    heatmap = create_fig(frame, df)
    plt.clf()
    plt.imshow(heatmap)

In [ ]:
frames = sorted(df['datetime'].unique())
fig, ax = plt.subplots()

# Create the animation using ArtistAnimation
animation = FuncAnimation(fig, update, frames=frames, interval=100)

# Save the animation as a GIF file
#animation.save('heatmap_animation.gif', writer='imagemagick')

# Save the animation as an MP4 file (requires ffmpeg or avconv installed)
animation.save('animations/heatmap_animation_18.mp4', writer='ffmpeg')