In [46]:
import numpy as np
import pandas as pd
import os

In [47]:
path = 'E:/Koulu/data/muu/Alberding_Pasila/pasivrs01-2059-6-checkInit'
df = pd.read_csv(path, delimiter=';')
df['Event Time [UTC]'] = pd.to_datetime(df['Event Time [UTC]'])
df = df.drop(columns=['startDelay', 'HDOP', 'TTFA[s]', 'Sigma HDOP', 
                      'Solution', 'Epochs', 'Data-Age[s]', 'checkType',
                      'Sigma Sat.', 'Sigma Data-Age', 'Sigma N', 'Sigma E', 
                      'dN[cm]', 'dE[cm]', '# of Sat.'])
df

       Event Time [UTC]  dH[cm]  dNE[cm]    initTyp  Sigma H  Sigma NE
0   2019-06-29 00:00:05    -2.8      1.5  RTK Fixed     0.32      0.21
1   2019-06-29 00:01:35    -1.7      1.6  RTK Fixed     0.32      0.19
2   2019-06-29 00:03:06    -1.8      1.2  RTK Fixed     0.25      0.15
3   2019-06-29 00:04:36    -2.1      1.6  RTK Fixed     0.32      0.22
4   2019-06-29 00:06:06    -2.5      1.5  RTK Fixed     0.29      0.24
..                  ...     ...      ...        ...      ...       ...
954 2019-06-29 23:53:58    -1.9      1.6  RTK Fixed     0.28      0.24
955 2019-06-29 23:55:28    -2.5      1.2  RTK Fixed     0.45      0.20
956 2019-06-29 23:56:58    -2.2      0.9  RTK Fixed     0.41      0.21
957 2019-06-29 23:58:28    -2.6      1.0  RTK Fixed     0.31      0.23
958 2019-06-29 23:59:59    -2.4      1.0  RTK Fixed     0.28      0.28

[959 rows x 6 columns]

In [48]:
data = dict(df.drop(columns=['initTyp', 'Event Time [UTC]']).mean().items())

In [49]:
data['date'] = str(df['Event Time [UTC]'][0])[:10]
data['nunique'] = df['initTyp'].nunique()
data

{'dH[cm]': -2.5420229405630868,
 'dNE[cm]': 2.1286757038581854,
 'Sigma H': 0.42466110531803963,
 'Sigma NE': 0.27406673618352456,
 'date': '2019-06-29',
 'nunique': 3}

In [54]:
path1 = 'E:/Koulu/data/muu/Alberding_joensuu/'
path2 = 'E:/Koulu/data/muu/Alberding_Pasila/'

joensuu = pd.DataFrame(columns=['date', 'dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE', 'fixed'])
pasila = pd.DataFrame(columns=['date', 'dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE', 'fixed'])

In [55]:
i = 1
nfiles = len(os.listdir(path1))
exceptions = []

for file in os.listdir(path1):
    print(f'Processing file {file}, {i}/{nfiles}, {100*(i/nfiles):.2f}%', end='\r')

    try:
        df = pd.read_csv(os.path.join(path1, file), delimiter=';')
        date = str(df['Event Time [UTC]'][0])[:10]
        fixed = (df['initTyp'] == 'RTK Fixed').sum()/len(df['initTyp'])

        data = dict(df[['dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE']].mean().items())
        data['date'] = date
        data['fixed'] = fixed
        joensuu.loc[len(joensuu)] = data
        i += 1
    
    except:
        exceptions.append(str(file))
        i+=1


joensuu['date'] = pd.to_datetime(joensuu['date'])
joensuu.sort_values('date')

           date    dH[cm]   dNE[cm]   Sigma H  Sigma NE     fixed
0    2019-12-31 -0.326205  0.938365  0.402348  0.894361  1.000000
1    2020-01-01  0.459352  0.765517  0.372100  0.237994  1.000000
2    2020-01-02  0.194253  0.695402  0.351870  0.233783  1.000000
3    2020-01-03  0.257053  1.553710  0.446823  0.291870  1.000000
4    2020-01-04 -0.065935  1.142947  0.400491  0.241170  0.997910
...         ...       ...       ...       ...       ...       ...
1320 2023-08-14 -0.808246  0.880585  0.379447  0.242359  1.000000
1321 2023-08-15 -0.776594  0.804389  0.394775  0.249404  1.000000
1322 2023-08-16 -1.460438  1.025574  0.488674  0.314123  0.994781
1323 2023-08-17 -0.825601  1.090596  0.441066  0.276311  1.000000
1324 2023-08-18 -1.338489  0.777698  0.309640  0.221906  1.000000

[1325 rows x 6 columns]

In [56]:
i = 1
nfiles = len(os.listdir(path2))
exceptions = []

for file in os.listdir(path2):
    print(f'Processing file {file}, {i}/{nfiles}, {100*(i/nfiles):.2f}%', end='\r')

    try:
        df = pd.read_csv(os.path.join(path2, file), delimiter=';')
        date = str(df['Event Time [UTC]'][0])[:10]
        fixed = (df['initTyp'] == 'RTK Fixed').sum()/len(df['initTyp'])

        data = dict(df[['dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE']].mean().items())
        data['date'] = date
        data['fixed'] = fixed
        pasila.loc[len(pasila)] = data
        i += 1
    
    except:
        exceptions.append(str(file))
        i+=1


pasila['date'] = pd.to_datetime(pasila['date'])
pasila.sort_values('date')

           date     dH[cm]    dNE[cm]   Sigma H  Sigma NE     fixed
0    2019-06-25  69.153187  45.041275  1.121912  0.916458  0.313480
1    2019-06-26  24.918933  20.091841  0.611538  0.458065  0.768828
2    2019-06-27  -1.700522   1.489040  0.392599  0.251347  0.994781
3    2019-06-28  -2.805852   6.865935  0.408966  0.301421  0.951933
4    2019-06-29  -2.542023   2.128676  0.424661  0.274067  0.989572
...         ...        ...        ...       ...       ...       ...
1335 2023-08-14  -0.646082   1.293939  0.585308  0.408224  0.992685
1336 2023-08-15  -1.833507   1.093006  0.417182  0.274927  0.998956
1337 2023-08-16  -2.686311   1.412644  0.481045  0.329269  1.000000
1338 2023-08-17  -0.901569   0.978661  0.473661  0.292636  1.000000
1339 2023-08-18  -0.621168   0.955839  0.373431  0.260474  1.000000

[1340 rows x 6 columns]

In [57]:
joensuu.corr()

              date    dH[cm]   dNE[cm]   Sigma H  Sigma NE     fixed
date      1.000000 -0.235221 -0.208125  0.040424 -0.014100  0.247698
dH[cm]   -0.235221  1.000000  0.759138  0.254280  0.389896 -0.758354
dNE[cm]  -0.208125  0.759138  1.000000  0.425108  0.573345 -0.848927
Sigma H   0.040424  0.254280  0.425108  1.000000  0.933118 -0.288843
Sigma NE -0.014100  0.389896  0.573345  0.933118  1.000000 -0.390580
fixed     0.247698 -0.758354 -0.848927 -0.288843 -0.390580  1.000000

In [58]:
pasila.corr()

              date    dH[cm]   dNE[cm]   Sigma H  Sigma NE     fixed
date      1.000000 -0.104995 -0.248282 -0.069814 -0.131513  0.284093
dH[cm]   -0.104995  1.000000  0.542785  0.205803  0.165785 -0.602706
dNE[cm]  -0.248282  0.542785  1.000000  0.362380  0.735951 -0.801100
Sigma H  -0.069814  0.205803  0.362380  1.000000  0.481500 -0.355213
Sigma NE -0.131513  0.165785  0.735951  0.481500  1.000000 -0.445889
fixed     0.284093 -0.602706 -0.801100 -0.355213 -0.445889  1.000000