In [62]:
import numpy as np
import pandas as pd
import os

In [63]:
path = 'E:/Koulu/data/muu/Alberding_joensuu/MJOE-vrs-2086-2-checkInit'
df = pd.read_csv(path, delimiter=';')
df['Event Time [UTC]'] = pd.to_datetime(df['Event Time [UTC]'])
df = df.drop(columns=['startDelay', 'HDOP', 'TTFA[s]', 'Sigma HDOP', 
                      'Solution', 'Epochs', 'Data-Age[s]', 'checkType',
                      'Sigma Sat.', 'Sigma Data-Age', 'Sigma N', 'Sigma E', 
                      'dN[cm]', 'dE[cm]', '# of Sat.'])
df

       Event Time [UTC]  dH[cm]  dNE[cm]    initTyp  Sigma H  Sigma NE
0   2019-12-31 12:02:34    -1.8     11.6  RTK Fixed     2.57     30.14
1   2019-12-31 12:04:04    -1.9      1.7  RTK Fixed     1.96     21.31
2   2019-12-31 12:05:34    -2.2      9.8  RTK Fixed     2.67     27.73
3   2019-12-31 12:07:04    -0.6      6.3  RTK Fixed     2.49     30.13
4   2019-12-31 12:08:34     0.3      4.1  RTK Fixed     2.41     26.73
..                  ...     ...      ...        ...      ...       ...
472 2019-12-31 23:52:34    -0.3      0.5  RTK Fixed     0.47      0.35
473 2019-12-31 23:54:04    -1.0      0.5  RTK Fixed     0.25      0.20
474 2019-12-31 23:55:34    -1.5      0.5  RTK Fixed     0.35      0.19
475 2019-12-31 23:57:04    -1.1      0.9  RTK Fixed     0.27      0.19
476 2019-12-31 23:58:34    -0.2      0.9  RTK Fixed     0.30      0.20

[477 rows x 6 columns]

In [64]:
data = dict(df.drop(columns=['initTyp', 'Event Time [UTC]']).mean().items())

In [65]:
data['date'] = str(df['Event Time [UTC]'][0])[:10]
data['nunique'] = df['initTyp'].nunique()
data

{'dH[cm]': -0.3262054507337526,
 'dNE[cm]': 0.9383647798742139,
 'Sigma H': 0.4023480083857442,
 'Sigma NE': 0.8943605870020964,
 'date': '2019-12-31',
 'nunique': 1}

In [66]:
path1 = 'E:/Koulu/data/muu/Alberding_joensuu/'
path2 = 'E:/Koulu/data/muu/Alberding_Pasila/'

joensuu = pd.DataFrame(columns=['date', 'dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE', 'nunique'])
pasila = pd.DataFrame(columns=['date', 'dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE', 'nunique'])

In [67]:
i = 1
nfiles = len(os.listdir(path1))
exceptions = []

for file in os.listdir(path1):
    print(f'Processing file {file}, {i}/{nfiles}, {100*(i/nfiles):.2f}%', end='\r')

    try:
        df = pd.read_csv(os.path.join(path1, file), delimiter=';')
        date = str(df['Event Time [UTC]'][0])[:10]
        nunique = df['initTyp'].nunique()

        data = dict(df[['dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE']].mean().items())
        data['date'] = date
        data['nunique'] = nunique
        joensuu.loc[len(joensuu)] = data
        i += 1
    
    except:
        exceptions.append(str(file))
        i+=1


joensuu['date'] = pd.to_datetime(joensuu['date'])
joensuu.sort_values('date')

           date    dH[cm]   dNE[cm]   Sigma H  Sigma NE  nunique
0    2019-12-31 -0.326205  0.938365  0.402348  0.894361        1
1    2020-01-01  0.459352  0.765517  0.372100  0.237994        1
2    2020-01-02  0.194253  0.695402  0.351870  0.233783        1
3    2020-01-03  0.257053  1.553710  0.446823  0.291870        1
4    2020-01-04 -0.065935  1.142947  0.400491  0.241170        2
...         ...       ...       ...       ...       ...      ...
1320 2023-08-14 -0.808246  0.880585  0.379447  0.242359        1
1321 2023-08-15 -0.776594  0.804389  0.394775  0.249404        1
1322 2023-08-16 -1.460438  1.025574  0.488674  0.314123        2
1323 2023-08-17 -0.825601  1.090596  0.441066  0.276311        1
1324 2023-08-18 -1.338489  0.777698  0.309640  0.221906        1

[1325 rows x 6 columns]

In [69]:
i = 1
nfiles = len(os.listdir(path2))
exceptions = []

for file in os.listdir(path2):
    print(f'Processing file {file}, {i}/{nfiles}, {100*(i/nfiles):.2f}%', end='\r')

    try:
        df = pd.read_csv(os.path.join(path2, file), delimiter=';')
        date = str(df['Event Time [UTC]'][0])[:10]
        nunique = df['initTyp'].nunique()

        data = dict(df[['dH[cm]', 'dNE[cm]', 'Sigma H', 'Sigma NE']].mean().items())
        data['date'] = date
        data['nunique'] = nunique
        pasila.loc[len(pasila)] = data
        i += 1
    
    except:
        exceptions.append(str(file))
        i+=1


pasila['date'] = pd.to_datetime(pasila['date'])
pasila.sort_values('date')

           date     dH[cm]    dNE[cm]   Sigma H  Sigma NE  nunique
0    2019-06-25  69.153187  45.041275  1.121912  0.916458        2
1    2019-06-26  24.918933  20.091841  0.611538  0.458065        3
2    2019-06-27  -1.700522   1.489040  0.392599  0.251347        3
3    2019-06-28  -2.805852   6.865935  0.408966  0.301421        2
4    2019-06-29  -2.542023   2.128676  0.424661  0.274067        3
...         ...        ...        ...       ...       ...      ...
1335 2023-08-14  -0.646082   1.293939  0.585308  0.408224        2
1336 2023-08-15  -1.833507   1.093006  0.417182  0.274927        2
1337 2023-08-16  -2.686311   1.412644  0.481045  0.329269        1
1338 2023-08-17  -0.901569   0.978661  0.473661  0.292636        1
1339 2023-08-18  -0.621168   0.955839  0.373431  0.260474        1

[1340 rows x 6 columns]