In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

Calculate VTEC from STEC

In [98]:
path = 'losdf/losdf1.csv'

df = pd.read_csv(path, sep=',')

df

,year,month,day,hour,min,sec,recno,kindat,kinst,ut1_unix,...,tec,azm,elm,gdlat,glon,rec_bias,drec_bias,minute,second,datetime
0,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,45.623749,91.591240,15.125118,38.408073,150.613205,-40.030865,1.303337,0,0,2023-03-21
1,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,38.221725,-109.160942,44.993603,38.162663,136.045685,-5.742235,1.302283,0,0,2023-03-21
2,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,35.698364,-45.802170,30.576651,42.375202,134.991058,-14.900952,1.303886,0,0,2023-03-21
3,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,38.210701,-10.672103,57.597958,41.015491,139.089783,-19.772247,1.302132,0,0,2023-03-21
4,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,40.350719,-110.766434,23.652639,36.784897,132.423401,-31.331665,1.302210,0,0,2023-03-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,31.461233,39.471577,25.048307,38.502934,-82.744652,52.048553,1.301387,0,0,2023-03-21
9996,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,33.023979,-88.587830,14.703748,33.898533,-98.027061,-29.713406,1.300738,0,0,2023-03-21
9997,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,36.609058,106.797935,48.510792,33.351303,-84.436562,39.351131,1.302309,0,0,2023-03-21
9998,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,38.019108,165.449783,21.757784,27.723713,-85.540054,22.421450,1.300845,0,0,2023-03-21
9999,2023,3,21,0,0,0,0,3505,8000,1.679357e+09,...,37.067852,-154.266830,48.588638,31.791969,-88.725494,-8.851896,1.300801,0,0,2023-03-21

In [99]:
df['minute'] = df['min']
df['second'] = df['sec']
df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour', 'minute', 'second']])
df = df[['datetime', 'pierce_alt', 'gdlatr', 'gdlonr', 'los_tec', 'tec', 'azm', 'elm', 'gdlat', 'glon', 'rec_bias']]
df['slant_f'] = 1+16*(0.53-df['elm']/180)**3
df['vtec'] = (df['los_tec'])/df['slant_f']

df.head(5)

C:\Users\virtanem\AppData\Local\Temp\ipykernel_10812\3370226547.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['slant_f'] = 1+16*(0.53-df['elm']/180)**3
C:\Users\virtanem\AppData\Local\Temp\ipykernel_10812\3370226547.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vtec'] = (df['los_tec'])/df['slant_f']

,datetime,pierce_alt,gdlatr,gdlonr,los_tec,tec,azm,elm,gdlat,glon,rec_bias,slant_f,vtec
0,2023-03-21,350.0,39.185562,139.547653,114.437233,45.623749,91.591240,15.125118,38.408073,150.613205,-40.030865,2.419193,47.303885
1,2023-03-21,350.0,39.185562,139.547653,51.601585,38.221725,-109.160942,44.993603,38.162663,136.045685,-5.742235,1.351366,38.184766
2,2023-03-21,350.0,39.185562,139.547653,62.045506,35.698364,-45.802170,30.576651,42.375202,134.991058,-14.900952,1.747303,35.509295
3,2023-03-21,350.0,39.185562,139.547653,44.393421,38.210701,-10.672103,57.597958,41.015491,139.089783,-19.772247,1.148200,38.663491
4,2023-03-21,350.0,39.185562,139.547653,81.895821,40.350719,-110.766434,23.652639,36.784897,132.423401,-31.331665,2.013259,40.678244

In [100]:
df1 = df[['datetime', 'tec', 'vtec']]
df1['dtec'] = df1['tec'] - df1['vtec']
df1['dtec'].describe()

C:\Users\virtanem\AppData\Local\Temp\ipykernel_10812\3518246495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['dtec'] = df1['tec'] - df1['vtec']

count    10000.000000
mean        -0.161784
std          0.300673
min         -4.181618
25%         -0.281759
50%         -0.059807
75%          0.015246
max          1.011212
Name: dtec, dtype: float64